// Main Content //
.main-content {
  display: flex;
  align-items: center;
  text-align: center;
  margin: 0 auto;
  background-color: rgb(230, 230, 230);
  width: 900px;
  height: 500px;
  border-radius: 30px;
}

// Title //
h1 {
  margin-top: 0;
  text-align: center;
  font-weight: 300;
  font-size: 3em;
  margin-bottom: 5%;
}

// Choosing coins - circles //
.choose-coins {
  width: 10%;
  display: inline-block;
  border-radius: 50%;
  align-items: center;
  margin: 0 25px;
}

.choose-coins img {
  display: block;
  width: 100%;
}

.click-country {
  border-radius: 50%;
}

.coin-over {
  transition: .5s ease;
  opacity: 0;
  position: relative;
  transform: translate(-50%, -50%);
  text-align: center;
}

// Hover choosing coins //
.choose-coins:hover .country {
  opacity: 0.5;
  cursor: pointer;
}

.choose-coins:hover .coin-over {
  opacity: 1;
}

// Text into Hover //
.coin-symbol {
  width: 100%;
  border-radius: 50%;
}

.choose-coins input {
  border: none;
  text-decoration: none;
  width: 15px;
}

.form {
  // background-color: yellow;

}

.form-field {
  width: 300px;
  margin-top: 30px;
}

.form-label {
  font-size: 1.5em;
}

.gap {
  margin: 0 20px;
}

.form-field input {
  font-size: 2em;
  margin-top: 10px;
}
