// Main Content //
.main-content {
  text-align: center;
  margin: 0 auto;
}

// Title //
h1 {
  margin-top: 10%;
  text-align: center;
  font-weight: 300;
  font-size: 4em;
  margin-bottom: 5%;
}

// Choosing coins - circles //
.choose-coins {
  width: 6%;
  display: inline-block;
  background-color: white;
  border-radius: 50%;
  align-items: center;
  margin: 25px;
}

.choose-coins img {
  display: block;
  width: 100%;
}

.click-country {
  border-radius: 50%;
}

.coin-over {
  transition: .5s ease;
  opacity: 0;
  position: relative;
  transform: translate(-50%, -50%);
  text-align: center;
}

// Hover choosing coins //
.choose-coins:hover .country {
  opacity: 0.5;
  cursor: pointer;
}

.choose-coins:hover .coin-over {
  opacity: 1;
}

// Text into Hover //
.coin-symbol {
  width: 100%;
  border-radius: 50%;
}

.coins {
  margin: 0 auto;
  margin-top: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}